{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Zoom API",
    "description" : "The Zoom API allows developers to access information from Zoom. You can use this API to build private services or public applications on the [Zoom App Marketplace](http://marketplace.zoom.us). To learn how to get your credentials and create private/public applications, read our [Authorization Guide](https://marketplace.zoom.us/docs/guides/authorization/credentials).\nAll endpoints are available via `https` and are located at `api.zoom.us/v2/`.\n\nFor instance you can list all users on an account via `https://api.zoom.us/v2/users/`.\n\nContact Support:\n Name: Zoom Developers\n Email: developersupport@zoom.us",
    "contact" : { },
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.zoom.us/v2"
  } ],
  "tags" : [ {
    "name" : "accounts"
  }, {
    "name" : "{account Id}"
  }, {
    "name" : "phone"
  }, {
    "name" : "sip trunk/trunks"
  }, {
    "name" : "settings"
  }, {
    "name" : "virtual backgrounds"
  }, {
    "name" : "billing"
  }, {
    "name" : "invoices"
  }, {
    "name" : "plans"
  }, {
    "name" : "base"
  }, {
    "name" : "addons"
  }, {
    "name" : "lock settings"
  }, {
    "name" : "sip trunk"
  }, {
    "name" : "numbers"
  }, {
    "name" : "trunks"
  }, {
    "name" : "callout countries"
  }, {
    "name" : "internal numbers"
  }, {
    "name" : "tracking fields"
  }, {
    "name" : "{field Id}"
  }, {
    "name" : "users"
  }, {
    "name" : "{user Id}"
  }, {
    "name" : "meetings"
  }, {
    "name" : "assistants"
  }, {
    "name" : "schedulers"
  }, {
    "name" : "settings1"
  }, {
    "name" : "virtual backgrounds1"
  }, {
    "name" : "tsp"
  }, {
    "name" : "{tsp Id}"
  }, {
    "name" : "token"
  }, {
    "name" : "webinars"
  }, {
    "name" : "meetings/{meeting Id}"
  }, {
    "name" : "registrants"
  }, {
    "name" : "questions"
  }, {
    "name" : "past meetings"
  }, {
    "name" : "{meeting UUID}"
  }, {
    "name" : "{meeting Id}"
  }, {
    "name" : "metrics"
  }, {
    "name" : "meetings1"
  }, {
    "name" : "{meeting Id}1"
  }, {
    "name" : "participants"
  }, {
    "name" : "webinars1"
  }, {
    "name" : "{webinar Id}"
  }, {
    "name" : "participants1"
  }, {
    "name" : "client"
  }, {
    "name" : "feedback"
  }, {
    "name" : "report"
  }, {
    "name" : "users1"
  }, {
    "name" : "meetings/{meeting Id}1"
  }, {
    "name" : "webinars/{webinar Id}"
  }, {
    "name" : "webinars/{webinar Id}1"
  }, {
    "name" : "panelists"
  }, {
    "name" : "registrants1"
  }, {
    "name" : "questions1"
  }, {
    "name" : "{registrant Id}"
  }, {
    "name" : "polls"
  }, {
    "name" : "{poll Id}"
  }, {
    "name" : "past webinars"
  }, {
    "name" : "{webinar Id}1"
  } ],
  "paths" : {
    "/accounts" : {
      "get" : {
        "tags" : [ "accounts" ],
        "summary" : "List sub accounts",
        "description" : "List all the sub accounts that have been created by a master account.<br><br>Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts. Email the partner programs team at **partner-success@zoom.us** for more details.\n\n<br>**Prerequisites:**<br>\n* Pro or a higher paid account with master account option enabled. <br>\n\n**Scope**: `account:read:admin`\n<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`<br>\n\n",
        "operationId" : "listSubAccounts",
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The number of records returned within a single API call.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "30"
          }
        }, {
          "name" : "page_number",
          "in" : "query",
          "description" : "\n**Deprecated** - This field has been deprecated and we will stop supporting it completely in a future release. Please use \"next_page_token\" for pagination instead of this field.\n\nThe page number of the current page in the returned records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "1"
          }
        }, {
          "name" : "next_page_token",
          "in" : "query",
          "description" : "The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Account list returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "Account list returned." : {
                    "value" : {
                      "accounts" : [ {
                        "account_name" : "string",
                        "account_type" : "string",
                        "created_at" : "string [date-time]",
                        "id" : "string [uuid]",
                        "owner_email" : "string",
                        "seats" : "integer",
                        "subscription_end_time" : "string [date-time]",
                        "subscription_start_time" : "string [date-time]"
                      } ],
                      "page_count" : "integer",
                      "page_number" : "integer",
                      "page_size" : "integer",
                      "total_records" : "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "accounts" ],
        "summary" : "Create a sub account",
        "description" : "Create a sub account under a master account. Your account must be a master account in order to create sub accounts. \n<br><br>Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts. Email the partner programs team at partner-success@zoom.us. for more details. Please note that the created account user will receive a confirmation email.<br><br>\n<br>\n**Prerequisites:**<br>\n* Pro or a higher paid account with master account option enabled. <br>\n\n**Scope**: `account:write:admin`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>\n\n\n ",
        "operationId" : "createASubAccount",
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Account created.",
            "headers" : {
              "Content-Location" : {
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : "ipsum officia"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_201"
                },
                "examples" : {
                  "Account created." : {
                    "value" : {
                      "created_at" : "string",
                      "id" : "string",
                      "owner_email" : "string",
                      "owner_id" : "string"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n**Error Code:**`300`<br> Your request could not be completed because the name contains an invalid word: {name}\n**Error Code:** `1107`<br>\nEmail domain is blocked.<br>\n**Error Code:** `1111`<br>\nPassword should not contain r",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n**Error Code:**`300`<br> Your request could not be completed because the name contains an invalid word: {name}\n**Error Code:** `1107`<br>\nEmail domain is blocked.<br>\n**Error Code:** `1111`<br>\nPassword should not contain r" : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "409" : {
            "description" : "**HTTP Status Code:** `409`<br>\n**Error Code:** `1005`<br>\nEmail $email has already been used.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `409`<br>\n**Error Code:** `1005`<br>\nEmail $email has already been used." : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}" : {
      "get" : {
        "tags" : [ "accounts", "{account Id}" ],
        "summary" : "Get sub account details",
        "description" : "Get details of a sub account that is listed under a master account. Your account must be a master account in order to retrieve sub accounts' details. Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and create sub accounts. Email the partner programs team at **partner-success@zoom.us** for more details.\n\n**Prerequisites:**\n* Pro or a higher paid account with master account option enabled. <br>\n\n**Scope**: `account:write:admin`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>\n\n\n \n",
        "operationId" : "getSubAccountDetails",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) The account ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "**HTTP Status Code**: `200`<br>\nAccount object returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                },
                "examples" : {
                  "**HTTP Status Code**: `200`<br>\nAccount object returned." : {
                    "value" : {
                      "created_at" : "string [date-time]",
                      "id" : "string",
                      "options" : {
                        "meeting_connectors" : "string",
                        "pay_mode" : "string",
                        "room_connectors" : "string",
                        "share_mc" : "boolean",
                        "share_rc" : "boolean"
                      },
                      "owner_email" : "string",
                      "owner_id" : "string"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code**: `404`<br>\n**Error Code:** `2001`<br> Account does not exist: $subAccountId.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code**: `404`<br>\n**Error Code:** `2001`<br> Account does not exist: $subAccountId." : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "accounts", "{account Id}" ],
        "summary" : "Disassociate a sub account",
        "description" : "Disassociate a sub account from its master account. This will leave the sub account intact but it will no longer be associated with the master account.<br>  \n\n**Prerequisites:**\n* Pro or a higher paid account with master account option enabled. <br>\n* The account making this API request must be a [master account](https://marketplace.zoom.us/docs/api-reference/master-account-apis).<br><br>\n\n\n**Scope**: `account:write:admin`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>\n\n\n ",
        "operationId" : "disassociateASubAccount",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) The account ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "**HTTP Status Code**: `204`<br>Account deleted.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code**: `204`<br>Account deleted." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code**: `404` <br> \n**Error Code:** `2000`<br> You cannot disassociate a paid account. <br>\n**Error Code:** `2001`<br> Account does not exist: $subAccountId.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code**: `404` <br> \n**Error Code:** `2000`<br> You cannot disassociate a paid account. <br>\n**Error Code:** `2001`<br> Account does not exist: $subAccountId." : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/billing" : {
      "get" : {
        "tags" : [ "accounts", "{account Id}", "billing" ],
        "summary" : "Get billing information",
        "description" : "Get [billing information](https://support.zoom.us/hc/en-us/articles/201363263-About-Billing) of a sub account.<br><br>Only master accounts can use this API. Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts' billing information. Email the partner programs team at **partner-success@zoom.us** for more details.<br>\n\n**Prerequisites:**\n* Pro or a higher paid account with master account option enabled. <br>\n\n**Scope**:`billing:master`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`<br>\n\n",
        "operationId" : "getBillingInformation",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) The account ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "**HTTP Status Code:** `200`<br>\nAccount billing contact information returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                },
                "examples" : {
                  "**HTTP Status Code:** `200`<br>\nAccount billing contact information returned." : {
                    "value" : {
                      "address" : "string",
                      "apt" : "string",
                      "city" : "string",
                      "country" : "string",
                      "email" : "string",
                      "first_name" : "string",
                      "last_name" : "string",
                      "phone_number" : "string",
                      "state" : "string",
                      "zip" : "string"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br> \nThis sub account is on self pay mode.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br> \nThis sub account is on self pay mode." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: {subAccountId}.\n\n\n",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: {subAccountId}.\n\n\n" : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "accounts", "{account Id}", "billing" ],
        "summary" : "Update billing information",
        "description" : "Update [billing information](https://support.zoom.us/hc/en-us/articles/201363263-About-Billing) of a sub account.<br><br>\nThis API can only be used by master accounts that pay all billiing charges of their associated sub accounts. Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts' billing information. Email the partner programs team at **partner-success@zoom.us** for more details.<br><br>\n\n**Prerequisites:**\n* Pro or a higher paid account with master account option enabled. <br>\n\n**Scope**:`billing:master`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`<br>\n\n",
        "operationId" : "updateBillingInformation",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) The account ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "200" : {
            "description" : "**Error Code:** `200`<br>\nPlease subscribe a plan for this sub account first.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**Error Code:** `200`<br>\nPlease subscribe a plan for this sub account first." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "**HTTP Status Code:** `204`<br>\nAccount billing contact information updated.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `204`<br>\nAccount billing contact information updated." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br>\nThis sub account is on self pay mode.<br>\nInvalid country parameter: {country}.<br>\nInvalid state parameter: {state}.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br>\nThis sub account is on self pay mode.<br>\nInvalid country parameter: {country}.<br>\nInvalid state parameter: {state}." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: {subAccountId}.\n\n\n\n",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: {subAccountId}.\n\n\n\n" : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/billing/invoices" : {
      "get" : {
        "tags" : [ "accounts", "{account Id}", "billing", "invoices" ],
        "summary" : "List billing invoices",
        "description" : "List [invoices](https://support.zoom.us/hc/en-us/articles/207276556-Viewing-your-invoice-history#h_6710542f-23cc-4059-9cc7-ff02bec7314e) of a Zoom account.\n\nTo list a regular Zoom account's invoices or a master account's invoices, provide `me` as the value of the `accountId` path parameter. To list a sub account's invoices, provide the account ID of the sub account in the `accountId` path parameter. \n\n**Prerequisites:**\n* Account must be enrolled in Pro or a higher plan.<br>\n\n**Scope**:`billing:master`<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`<br>\n**Additional Rate Limit:** You can make **one** API request per account(`accountId`) every **five** minutes until the daily limit is reached. This API has a daily limit of **6** requests per account(`accountId`).",
        "operationId" : "listBillingInvoices",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) The account ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Start date for the invoice query in `yyyy-mm-dd` format. The date range defined by the “from” and “to” parameters should not exceed one year. The range defined should fall within the past three years.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{}"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "End date for the invoice query in `yyyy-mm-dd` format",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "{}"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "**HTTP Status Code:** `200`<br>\nAccount billing invoice information returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                },
                "examples" : {
                  "**HTTP Status Code:** `200`<br>\nAccount billing invoice information returned." : {
                    "value" : {
                      "currency" : "USD",
                      "invoices" : [ {
                        "balance" : 2039,
                        "due_date" : { },
                        "id" : "2c92c12348d07e0580",
                        "invoice_date" : { },
                        "invoice_number" : "S8INsdf4534000001",
                        "status" : "Draft",
                        "target_date" : { },
                        "tax_amount" : 0,
                        "total_amount" : 2039
                      } ]
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n**Error Code:** `200`<br>\nOnly available for Paid account: {subAccountId}.\n**Error Code:** `2001`<br>\nAccount does not exist: {subAccountId}.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n**Error Code:** `200`<br>\nOnly available for Paid account: {subAccountId}.\n**Error Code:** `2001`<br>\nAccount does not exist: {subAccountId}." : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/billing/invoices/{invoiceId}" : {
      "get" : {
        "tags" : [ "accounts", "{account Id}", "billing", "invoices" ],
        "summary" : "Get invoice details",
        "description" : "Get detailed information about a specific [invoice](https://support.zoom.us/hc/en-us/articles/207276556-Viewing-your-invoice-history#h_6710542f-23cc-4059-9cc7-ff02bec7314e). <br>To retrieve a regular Zoom account's invoice details or a master account's invoice details, provide `me` as the value of `accountId` path parameter. To list a sub account's invoice details, provide the account ID of the sub account in the `accountId` path parameter. \n\n**Prerequisites:**\n* Account must be enrolled in Pro or a higher plan. <br>\n\n**Scope**:`billing:master`<br>\n<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`<br>\n**Additional Rate Limit:** You can make **one** API request every **thirty** minutes until the daily limit is reached. This API has a daily limit of **100** requests per **account**.",
        "operationId" : "getInvoiceDetails",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) The account ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        }, {
          "name" : "invoiceId",
          "in" : "path",
          "description" : "(Required) The invoice ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "**HTTP Status Code:** `200`<br>\nAccount billing invoice information returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                },
                "examples" : {
                  "**HTTP Status Code:** `200`<br>\nAccount billing invoice information returned." : {
                    "value" : {
                      "balance" : 2039,
                      "currency" : "USD",
                      "due_date" : { },
                      "id" : "2c92fghvb0580",
                      "invoice_date" : { },
                      "invoice_items" : [ {
                        "charge_name" : "Standard Biz Annual",
                        "charge_number" : "C-00000004",
                        "charge_type" : "Recurring",
                        "end_date" : { },
                        "quantity" : 10,
                        "start_date" : { },
                        "tax_amount" : 0,
                        "total_amount" : 1999
                      }, {
                        "charge_name" : "Cloud Recording 100 GB",
                        "charge_number" : "C-00000005",
                        "charge_type" : "Recurring",
                        "end_date" : { },
                        "quantity" : 1,
                        "start_date" : { },
                        "tax_amount" : 0,
                        "total_amount" : 40
                      } ],
                      "invoice_number" : "Shjmr5INV00000001",
                      "status" : "Draft",
                      "target_date" : { },
                      "tax_amount" : 0,
                      "total_amount" : 2039
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: {subAccountId}.<br>\nInvoiceId does not exist: {invoiceId}.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: {subAccountId}.<br>\nInvoiceId does not exist: {invoiceId}." : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/lock_settings" : {
      "get" : {
        "tags" : [ "accounts", "{account Id}", "lock settings" ],
        "summary" : "Get locked settings",
        "description" : "[Account Locked Settings](https://support.zoom.us/hc/en-us/articles/115005269866) allow you turn settings on or off for all users in your account. No user except the account admin or account owner can change these settings. With lock settings, you force the settings on for all users.\nUse this API to retrieve an account's locked settings. \n\n**Note:** This API can be used by Zoom Accounts that are on a Pro or a higher plan as well accounts that have master and sub accounts options enabled. <br><br>\n**Prerequisites:**\n* Pro or a higher paid account. <br>\n\n**Scope**: `account:read:admin`.\n<br> **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`<br>\n\n\n\n\n\n**Scope:** account:read:admin",
        "operationId" : "getLockedSettings",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) Unique Identifier of the account. To retrieve locked settings of the master account or a regular account, provide \"me\" as the value of this field. <br> To retrieve locked settings of a sub account, provide the Account ID of the sub account in this field.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        }, {
          "name" : "option",
          "in" : "query",
          "description" : "`meeting_security`: Use this query parameter to view meeting security settings applied on the account.<br>",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        }, {
          "name" : "custom_query_fields",
          "in" : "query",
          "description" : "Provide the name of the field by which you would like to filter the response. For example, if you provide \"host_video\" as the value of this field, you will get a response similar to the following:<br>\n{\n    \"schedule_meeting\": {\n        \"host_video\": false\n    }\n}\n<br>You can provide multiple values by separating them with commas(example: \"host_video,participant_video”).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "**Error Code:** `200`<br>\nOnly available for paid account:$accountId.\n\n**HTTP Status Code:** `200`<br>\nLocked settings for the Account returned.\n\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                },
                "examples" : {
                  "**Error Code:** `200`<br>\nOnly available for paid account:$accountId.\n\n**HTTP Status Code:** `200`<br>\nLocked settings for the Account returned.\n\n" : {
                    "value" : {
                      "email_notification" : {
                        "alternative_host_reminder" : true,
                        "cancel_meeting_reminder" : false,
                        "cloud_recording_available_reminder" : false,
                        "jbh_reminder" : false,
                        "schedule_for_host_reminder" : true
                      },
                      "in_meeting" : {
                        "alert_guest_join" : true,
                        "allow_show_zoom_windows" : true,
                        "annotation" : true,
                        "anonymous_question_answer" : true,
                        "attendee_on_hold" : false,
                        "auto_answer" : true,
                        "auto_saving_chat" : false,
                        "breakout_room" : true,
                        "chat" : false,
                        "closed_caption" : false,
                        "co_host" : false,
                        "custom_data_center_regions" : false,
                        "dscp_marking" : false,
                        "e2e_encryption" : false,
                        "entry_exit_chime" : "ut",
                        "far_end_camera_control" : false,
                        "feedback" : false,
                        "file_transfer" : false,
                        "group_hd" : false,
                        "original_audio" : false,
                        "polling" : true,
                        "post_meeting_feedback" : true,
                        "private_chat" : true,
                        "remote_control" : true,
                        "request_permission_to_unmute" : false,
                        "screen_sharing" : true,
                        "sending_default_email_invites" : false,
                        "show_meeting_control_toolbar" : false,
                        "stereo_audio" : true,
                        "use_html_format_email" : false,
                        "virtual_background" : true,
                        "webinar_question_answer" : false,
                        "whiteboard" : false
                      },
                      "recording" : {
                        "account_user_access_recording" : true,
                        "auto_delete_cmr" : false,
                        "auto_recording" : "voluptate",
                        "cloud_recording" : true,
                        "cloud_recording_download" : true,
                        "host_delete_cloud_recording" : true,
                        "ip_address_access_control" : {
                          "enable" : true,
                          "ip_addresses_or_ranges" : ""
                        },
                        "local_recording" : false,
                        "prevent_host_access_recording" : true,
                        "recording_authentication" : "ut sint"
                      },
                      "schedule_meeting" : {
                        "audio_type" : true,
                        "embed_password_in_join_link" : true,
                        "enforce_login" : false,
                        "enforce_login_domains" : "id tempor deserunt dolore nulla",
                        "enforce_login_with_domains" : false,
                        "host_video" : true,
                        "join_before_host" : false,
                        "meeting_authentication" : true,
                        "not_store_meeting_topic" : true,
                        "participant_video" : false,
                        "require_password_for_instant_meetings" : false,
                        "require_password_for_pmi_meetings" : false,
                        "require_password_for_scheduling_new_meetings" : true
                      },
                      "telephony" : {
                        "telephony_regions" : false,
                        "third_party_audio" : false
                      },
                      "tsp" : {
                        "call_out" : true,
                        "show_international_numbers_link" : true
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: $subAccountId.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: $subAccountId." : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "accounts", "{account Id}", "lock settings" ],
        "summary" : "Update locked settings",
        "description" : "[Account Locked Settings](https://support.zoom.us/hc/en-us/articles/115005269866) allow you turn settings on or off for all users in your account. No user except the account admin or account owner can change these settings. With lock settings, you force the settings on for all users. Use this API to update an account's locked settings.\n\n**Note:** This API can be used by Zoom Accounts that are on a Pro or a higher plan as well accounts that have master and sub accounts options enabled.<br><br>\n**Prerequisites:**<br>\n* Pro or a higher paid account. <br>\n\n**Scope:** `account:write:admin`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`<br>\n\n\n ",
        "operationId" : "updateLockedSettings",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) Unique Identifier of the account. To retrieve locked settings of the master account or a regular account, provide \"me\" as the value of this field. <br> To retrieve locked settings of a sub account, provide the Account ID of the sub account in this field.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "200" : {
            "description" : "**Error Code:** `200`<br>\nOnly available for Paid account: $accountId.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : { }
                },
                "examples" : {
                  "**Error Code:** `200`<br>\nOnly available for Paid account: $accountId.\n" : {
                    "value" : { }
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "**HTTP Status Code:** `204`<br>\nAccount lock settings updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : { }
                },
                "examples" : {
                  "**HTTP Status Code:** `204`<br>\nAccount lock settings updated." : {
                    "value" : { }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404`<br>\n**Error Code:** `2001`<br>\nTAccount does not exist: $subAccountId.\n",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404`<br>\n**Error Code:** `2001`<br>\nTAccount does not exist: $subAccountId.\n" : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/managed_domains" : {
      "get" : {
        "tags" : [ "accounts", "{account Id}" ],
        "summary" : "Get managed domains",
        "description" : "Get a sub account's [managed domains](https://support.zoom.us/hc/en-us/articles/203395207-What-is-Managed-Domain-).<br><br>\n\n**Note:** This API can be used by Zoom Accounts that are on a Pro or a higher plan as well accounts that have master and sub accounts options enabled. <br><br>\nTo get managed domains of the master account, provide `me` as the value for accountId in the path parameter. Provide the sub account's Account ID as the value of accountId path parameter to get managed domains of the sub account.<br><br>\n**Prerequisites:**<br>\n* Pro or a higher paid account with master account option enabled. <br>\n\n**Scope:** `account:read:admin`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>\n\n\n\n",
        "operationId" : "getManagedDomains",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) Unique Identifier of the account. To retrieve locked settings of the master account or a regular account, provide \"me\" as the value of this field. <br> To retrieve locked settings of a sub account, provide the Account ID of the sub account in this field.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "**HTTP Status Code:** `200`<br>\nAccount managed domains returned.\n**Error Code:** `200`<br>\nOnly available for paid account.\n\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_6"
                },
                "examples" : {
                  "**HTTP Status Code:** `200`<br>\nAccount managed domains returned.\n**Error Code:** `200`<br>\nOnly available for paid account.\n\n" : {
                    "value" : {
                      "domains" : [ {
                        "domain" : "Ut",
                        "status" : "in occaecat ut id"
                      }, {
                        "domain" : "commodo consequat culpa",
                        "status" : "labore id nulla"
                      } ],
                      "total_records" : -36095302
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404`<br>\n**Error Code**: `2001`<br>\nAccount does not exist: $subAccountId.\n",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404`<br>\n**Error Code**: `2001`<br>\nAccount does not exist: $subAccountId.\n" : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/options" : {
      "patch" : {
        "tags" : [ "accounts", "{account Id}" ],
        "summary" : "Update options",
        "description" : "Update a sub account's options under the master account.<br> <aside>Your account must be a master account in order to update the options for sub accounts. Zoom only assigns this privilege to trusted partners. </aside>\n\n**Prerequisites:**\n* Pro or a higher paid account with master account option enabled.\n* The account making this API request must be a [master account](https://marketplace.zoom.us/docs/api-reference/master-account-apis).<br><br>\n\n**Scope**: `account:write:admin`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>\n\n\n ",
        "operationId" : "updateOptions",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) The account ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "200" : {
            "description" : "**Error Code:** `200`<br>\nThe pay mode cannot be updated for a sub account which already has an existing plan.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**Error Code:** `200`<br>\nThe pay mode cannot be updated for a sub account which already has an existing plan." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "**HTTP Status Code:** `204`<br>\nAccount options updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_204"
                },
                "examples" : {
                  "**HTTP Status Code:** `204`<br>\nAccount options updated." : {
                    "value" : {
                      "meeting_connectors" : "string",
                      "pay_mode" : "string",
                      "room_connectors" : "string",
                      "share_mc" : "boolean",
                      "share_rc" : "boolean"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br> The collection method cannot be changed after the purchase is complete.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br> The collection method cannot be changed after the purchase is complete." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: $subAccountId.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: $subAccountId." : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/owner" : {
      "put" : {
        "tags" : [ "accounts", "{account Id}" ],
        "summary" : "Update the account owner",
        "description" : "The current account owner can [change the owner of an account](https://support.zoom.us/hc/en-us/articles/115005686983-Change-Account-Owner) to another user on the same account.<br> Use this API to change the owner of a sub account.\n \n**Prerequisites**: <br>\n* Account owner or admin permissions of an account.\n* The account making this API request must be on a pro or a hiigher plan with [master account](https://marketplace.zoom.us/docs/api-reference/master-account-apis) privilege.<br><br>\n\n**Scopes:**  `account:write:admin` or `account:master`<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`<br>\n\n\n<br> ",
        "operationId" : "updateTheAccountOwner",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) Account Id of the account.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "204" : {
            "description" : "**HTTP Status Code:** `204`<br>\nAccount owner updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : { }
                },
                "examples" : {
                  "**HTTP Status Code:** `204`<br>\nAccount owner updated." : {
                    "value" : { }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n\n**Error Code:** `200`<br>\nUser is not an admin or is an API user or doesn’t belong to this account: {accountId}.<br>\nCannot make a user outside of your account an owner.<br>\nCannot update the role of an account owner.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n\n**Error Code:** `200`<br>\nUser is not an admin or is an API user or doesn’t belong to this account: {accountId}.<br>\nCannot make a user outside of your account an owner.<br>\nCannot update the role of an account owner." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: $subAccountId.<br>\n**Error Code:** `3201`<br>\nCannot find a billing account for this: $accountId.<br>\n**Error Code:** `3211`<br>\nCannot find a billing contact for this: $ac",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: $subAccountId.<br>\n**Error Code:** `3201`<br>\nCannot find a billing account for this: $accountId.<br>\n**Error Code:** `3211`<br>\nCannot find a billing contact for this: $ac" : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/phone/settings" : {
      "patch" : {
        "tags" : [ "accounts", "{account Id}", "phone" ],
        "summary" : "Update BYOC settings",
        "description" : "Only [master account owners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) can use this API to enable BYOC(Bring your own carrier) option for a sub account.<br>\n\n**Scope**:<br>\n* `phone:master` <br>\n\n**Prerequisites**: <br>\n* Business or enterprise Account.<br>",
        "operationId" : "updateByocSettings",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) Unique identifier of the sub account.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "204" : {
            "description" : "**Response HTTP code**: `204` **No Content.**<br>\nUpdated successfully.\n\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : { }
                },
                "examples" : {
                  "**Response HTTP code**: `204` **No Content.**<br>\nUpdated successfully.\n\n" : {
                    "value" : { }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "**HTTP Status Code:** `401`<br>\n\n**Error Code:** `124`<br>\nAccount does not exist: {accountId}.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `401`<br>\n\n**Error Code:** `124`<br>\nAccount does not exist: {accountId}." : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/phone/setup" : {
      "post" : {
        "tags" : [ "accounts", "{account Id}", "phone" ],
        "summary" : "Set up a Zoom Phone account",
        "description" : "After assigning a Zoom phone license to an account, an admin or account owner can proceed with the [initial Zoom phone set up](https://support.zoom.us/hc/en-us/articles/360001297663-Getting-started-with-Zoom-Phone-admin-#h_5ae26a3a-290c-4a8d-b3b0-6384ed267b13) using this API.\n\n**Scope**:<br>\n* `phone:write:admin` `phone:write`\n\n**Prerequisites**: <br>\n* Pro or a higher paid account with master account option enabled.\n\n<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>\n\n",
        "operationId" : "setUpAZoomPhoneAccount",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) Unique identifier of the account.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "201" : {
            "description" : "**HTTP Status Codes** `201`<br>\nCreated.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Codes** `201`<br>\nCreated." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Response Code:** `400`<br>\n\n**Error Codes:** `300`<br>\nThe extension number {0} that you entered is a reserved number and can not be used. Provide a different number and try again.<br>\nThis account is not enrolled in a Zoom Phone plan. Subscribe to",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Response Code:** `400`<br>\n\n**Error Codes:** `300`<br>\nThe extension number {0} that you entered is a reserved number and can not be used. Provide a different number and try again.<br>\nThis account is not enrolled in a Zoom Phone plan. Subscribe to" : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "**HTTP Status Code:** `401`<br>\nUnauthorized.<br>\n\n**Error Code:** <br>\n`124` Account does not exist: {accountId}.<br>",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `401`<br>\nUnauthorized.<br>\n\n**Error Code:** <br>\n`124` Account does not exist: {accountId}.<br>" : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/phone/sip_trunk/trunks" : {
      "post" : {
        "tags" : [ "accounts", "{account Id}", "phone", "sip trunk/trunks" ],
        "summary" : "Assign SIP trunks",
        "description" : "Using this API, a [master account](https://marketplace.zoom.us/docs/api-reference/master-account-apis) owner can assign SIP trunk(s) to a sub account.<br>\n\n**Scope**:<br>\n* `phone:master` <br>\n\n**Prerequisites**:<br>\n* Business or enterprise Account.<br>\n<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>\n\n",
        "operationId" : "assignSipTrunks",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) Unique identifier of the account.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "201" : {
            "description" : "**HTTP Status Code:** `201` **Created** <br>\n\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_201_1"
                },
                "examples" : {
                  "**HTTP Status Code:** `201` **Created** <br>\n\n" : {
                    "value" : {
                      "sip_trunks" : [ {
                        "carrier_account" : "9866",
                        "id" : "123111",
                        "name" : "test1"
                      }, {
                        "carrier_account" : "986677",
                        "id" : "123444",
                        "name" : "test2"
                      } ]
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404` <br>\nSIP Trunk does not exist: {sipTruniId}",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404` <br>\nSIP Trunk does not exist: {sipTruniId}" : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/phone/sip_trunk/trunks/{sipTrunkId}" : {
      "patch" : {
        "tags" : [ "accounts", "{account Id}", "phone", "sip trunk/trunks" ],
        "summary" : "Update SIP trunk details",
        "description" : "Update details of a SIP trunk that is assigned to a sub account.<br>\n\n**Scope**:<br>\n* `phone:master` <br>\n\n**Prerequisites**:<br>\nBusiness or Enterprise Account.<br>\n<br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>\n\n",
        "operationId" : "updateSipTrunkDetails",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) Unique identifier of the sub account.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        }, {
          "name" : "sipTrunkId",
          "in" : "path",
          "description" : "(Required) Unique identifier of the SIP trunk.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "204" : {
            "description" : "**HTTP Response Code**: `204` **No Content**<br>\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : { }
                },
                "examples" : {
                  "**HTTP Response Code**: `204` **No Content**<br>\n" : {
                    "value" : { }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404` <br>\nSip trunk does not exist: {0}.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404` <br>\nSip trunk does not exist: {0}." : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/plans" : {
      "get" : {
        "tags" : [ "accounts", "{account Id}", "plans" ],
        "summary" : "Get plan Information",
        "description" : "Get plan information of a sub account that is managed by a master account. <br><br>This API can only be used by master accounts that pay all billiing charges of their associated Pro or higher sub accounts. Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts' billing information. Email the partner programs team at **partner-success@zoom.us** for more details.<br><br>\n**Scopes:** `billing:master`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`<br>\n\n\n ",
        "operationId" : "getPlanInformation",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) The account ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "**HTTP Status Code:**`200`<br>\nAccount's plans returned.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_7"
                },
                "examples" : {
                  "**HTTP Status Code:**`200`<br>\nAccount's plans returned.\n" : {
                    "value" : {
                      "plan_audio" : {
                        "callout_countries" : "string",
                        "ddi_numbers" : "integer",
                        "premium_countries" : "string",
                        "tollfree_countries" : "string",
                        "type" : "string"
                      },
                      "plan_base" : {
                        "hosts" : "integer",
                        "type" : "string"
                      },
                      "plan_large_meeting" : [ {
                        "hosts" : "integer",
                        "type" : "string"
                      } ],
                      "plan_phone" : {
                        "plan_base" : {
                          "callout_countries" : "string",
                          "type" : "string"
                        },
                        "plan_calling" : [ {
                          "hosts" : "integer",
                          "type" : "string"
                        } ],
                        "plan_number" : [ {
                          "hosts" : "integer",
                          "type" : "string"
                        } ]
                      },
                      "plan_recording" : "string",
                      "plan_room_connector" : {
                        "hosts" : "integer",
                        "type" : "string"
                      },
                      "plan_webinar" : [ {
                        "hosts" : "integer",
                        "type" : "string"
                      } ],
                      "plan_zoom_rooms" : {
                        "hosts" : "integer",
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br> \nThis sub account is on self pay mode.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br> \nThis sub account is on self pay mode." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:**`404`<br>\nAccount does not exist: {subAccountId}.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:**`404`<br>\nAccount does not exist: {subAccountId}." : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "accounts", "{account Id}", "plans" ],
        "summary" : "Subscribe plans",
        "description" : "Subscribe a sub account to a Zoom plan using your master account. This API can only be used by master accounts that pay all billiing charges of their associated Pro or higher sub accounts. Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts' subscriptions. Email the partner programs team at **partner-success@zoom.us** for more details.<br><br>\n**Scopes**: `billing:master`<br>\n ",
        "operationId" : "subscribePlans",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) The account ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "200" : {
            "description" : "**Error Code:** `200`<br>\nOne zuora account only can have one active billing subscription.<br>\nCan’t subscribe 25-participants pro plan for this sub-account.<br>\nCan’t subscribe 50-participants pro plan for this sub-account.<br>\nIn order to take advantage",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : { }
                },
                "examples" : {
                  "**Error Code:** `200`<br>\nOne zuora account only can have one active billing subscription.<br>\nCan’t subscribe 25-participants pro plan for this sub-account.<br>\nCan’t subscribe 50-participants pro plan for this sub-account.<br>\nIn order to take advantage" : {
                    "value" : { }
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "**HTTP Status Code:**`201`<br>\nAccount plans updated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_201_2"
                },
                "examples" : {
                  "**HTTP Status Code:**`201`<br>\nAccount plans updated." : {
                    "value" : {
                      "plan_audio" : {
                        "callout_countries" : "string",
                        "ddi_numbers" : "integer",
                        "premium_countries" : "string",
                        "tollfree_countries" : "string",
                        "type" : "string"
                      },
                      "plan_base" : {
                        "hosts" : "integer",
                        "type" : "string"
                      },
                      "plan_large_meeting" : [ {
                        "hosts" : "integer",
                        "type" : "string"
                      } ],
                      "plan_recording" : "string",
                      "plan_room_connector" : {
                        "hosts" : "integer",
                        "type" : "string"
                      },
                      "plan_webinar" : [ {
                        "hosts" : "integer",
                        "type" : "string"
                      } ],
                      "plan_zoom_rooms" : {
                        "hosts" : "integer",
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "300" : {
            "description" : "**Error Code**: `300`<br>Account can’t buy this plan.<br>\nBuy hosts must equal or larger than {minBuyHost}.<br>\nBuy hosts must equal or smaller than {maxBuyHost}.<br>\nBuy hosts must equal or smaller than 9999.<br>\nActive hosts must be equal or larger than",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**Error Code**: `300`<br>Account can’t buy this plan.<br>\nBuy hosts must equal or larger than {minBuyHost}.<br>\nBuy hosts must equal or smaller than {maxBuyHost}.<br>\nBuy hosts must equal or smaller than 9999.<br>\nActive hosts must be equal or larger than" : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br> **Error Code:** `2100`<br> Invalid parameter: first_name<br>\nInvalid parameter: last_name<br>Invalid parameter: email<br>Invalid parameter: country<br>Invalid parameter: address\nInvalid parameter: city<br>Invalid parameter:",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br> **Error Code:** `2100`<br> Invalid parameter: first_name<br>\nInvalid parameter: last_name<br>Invalid parameter: email<br>Invalid parameter: country<br>Invalid parameter: address\nInvalid parameter: city<br>Invalid parameter:" : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404`<br> **Error Code:** `1001`<br> User does not exist.<br> \n**Error Code:** `2001`<br> Account does not exist: {subAccountId}.<br>\n\n",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404`<br> **Error Code:** `1001`<br> User does not exist.<br> \n**Error Code:** `2001`<br> Account does not exist: {subAccountId}.<br>\n\n" : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/plans/addons" : {
      "put" : {
        "tags" : [ "accounts", "{account Id}", "plans", "addons" ],
        "summary" : "Update an additional plan",
        "description" : "Update an additional plan for a sub account.\n\nThis API can only be used by master accounts that pay all billiing charges of their associated Pro or higher sub accounts. Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts' subscriptions. Email the partner programs team at **partner-success@zoom.us** for more details.<br><br>\n<br>**Prerequisites:**<br>\n* Pro or a higher plan with master account enabled.\n* The sub account must be a paid account. The billing charges for the sub account must be paid by the master account.<br><br>\n\n**Scopes**: `billing:master`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`<br>\n\n\n ",
        "operationId" : "updateAnAdditionalPlan",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) The account ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "200" : {
            "description" : "**Error Code:** `200`<br>\nFree trial and VIP accounts can't update sub plans.<br>\nYou don’t have subscription for ({oldPlanCode}) yet.\n",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**Error Code:** `200`<br>\nFree trial and VIP accounts can't update sub plans.<br>\nYou don’t have subscription for ({oldPlanCode}) yet.\n" : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "**HTTP Status Code:** `204`<br>\nAdditional plan updated for the account.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `204`<br>\nAdditional plan updated for the account." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "300" : {
            "description" : "**Error Code:** `300`<br>\nPlan types do not match, oldPlanType: {oldPlanType} newPlanType: {newPlanType}.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**Error Code:** `300`<br>\nPlan types do not match, oldPlanType: {oldPlanType} newPlanType: {newPlanType}." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`\n<br>This sub account is on self pay mode.\n<br>Invalid Additional Plan Type: {newPlanCode}.\n<br>Cannot update Additional plan for a sub account under free plan.\n<br>Invalid plan type.\n<br>Account can’t",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`\n<br>This sub account is on self pay mode.\n<br>Invalid Additional Plan Type: {newPlanCode}.\n<br>Cannot update Additional plan for a sub account under free plan.\n<br>Invalid plan type.\n<br>Account can’t" : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: {subAccountId}.<br>\n**Error Code:** `3200`<br>\nCannot find Zuora subscription for account:{subAccountId}.\n",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404`<br>\n**Error Code:** `2001`<br>\nAccount does not exist: {subAccountId}.<br>\n**Error Code:** `3200`<br>\nCannot find Zuora subscription for account:{subAccountId}.\n" : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "accounts", "{account Id}", "plans", "addons" ],
        "summary" : "Subscribe additional plan",
        "description" : "Subscribe a sub account to a Zoom addon plan. This API can only be used by master accounts that pay all billiing charges of their associated Pro or higher sub accounts. Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts' subscriptions. Email the partner programs team at **partner-success@zoom.us** for more details.<br><br>\n<br>**Prerequisites:**<br>\n* Pro or a higher plan with master account option enabled.\n* The sub account must be a paid account. The billing charges for the sub account must be paid by its master account.<br><br>\n\n**Scopes**: `billing:master`<br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`<br>\n\n",
        "operationId" : "subscribeAdditionalPlan",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) The account ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Account plans updated.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "Account plans updated." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br> \nThis sub account is on self pay mode.<br>\nCannot update Additional plan for a sub account under free plan.<br>\nAdditional Zoom Rooms plan cannot be added to a sub account that already has a Zoom ",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br> \nThis sub account is on self pay mode.<br>\nCannot update Additional plan for a sub account under free plan.<br>\nAdditional Zoom Rooms plan cannot be added to a sub account that already has a Zoom " : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404`<br>\n**Error Code:** `1001`<br> \nUser does not exist.<br>\n**Error Code:** `2001`<br> \nAccount does not exist: {subAccountId}.\n",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404`<br>\n**Error Code:** `1001`<br> \nUser does not exist.<br>\n**Error Code:** `2001`<br> \nAccount does not exist: {subAccountId}.\n" : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/plans/addons/status" : {
      "patch" : {
        "tags" : [ "accounts", "{account Id}", "plans", "addons" ],
        "summary" : "Cancel additional plans",
        "description" : "[Cancel additional plan](https://support.zoom.us/hc/en-us/articles/203634215-How-Do-I-Cancel-My-Subscription-) of a sub account. The cancellation does not provide refund for the current subscription. The service remains active for the current session.\n\nThis API can only be used by master accounts that pay all billiing charges of their associated Pro or higher sub accounts. Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts' subscriptions. Email the partner programs team at **partner-success@zoom.us** for more details.<br><br>\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`<br>\n\n**Prerequisites:**<br>\n* Pro or a higher plan with master account option enabled.\n* The sub account must be a paid account.<br>\n**Scope:** `billing:master`<br>\n ",
        "operationId" : "cancelAdditionalPlans",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "200" : {
            "description" : "**Error Code:** `200`<br>\nYou cannot cancel plan for a sub account that is under a free plan.<br>\nYou cannot perform this action because you do not have a Zoom Phone subscription for this account.<br>\nFree trial and VIP accounts can not cancel plans of a ",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**Error Code:** `200`<br>\nYou cannot cancel plan for a sub account that is under a free plan.<br>\nYou cannot perform this action because you do not have a Zoom Phone subscription for this account.<br>\nFree trial and VIP accounts can not cancel plans of a " : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "**HTTP Status Code:** `204`<br>\nPlan cancelled successfully. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : { }
                },
                "examples" : {
                  "**HTTP Status Code:** `204`<br>\nPlan cancelled successfully. " : {
                    "value" : { }
                  }
                }
              }
            }
          },
          "300" : {
            "description" : "**Error Code:** `300`<br>\nPlan type is required.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**Error Code:** `300`<br>\nPlan type is required." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br> \n**Error Code:** `2100`<br>\nThis sub account is on self pay mode.<br>\nYou cannot make cancellation requests for a bundle plan. Contact the Zoom Support team for details.<br>\nMaster accounts with bulk licenses cannot provisi",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br> \n**Error Code:** `2100`<br>\nThis sub account is on self pay mode.<br>\nYou cannot make cancellation requests for a bundle plan. Contact the Zoom Support team for details.<br>\nMaster accounts with bulk licenses cannot provisi" : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404`<br>\n**Error Code:** `1001`<br>\nUser does not exist.<br>\n**Error Code:** `2001`<br> \nAccount does not exist: {subAccountId}.\n\n",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404`<br>\n**Error Code:** `1001`<br>\nUser does not exist.<br>\n**Error Code:** `2001`<br> \nAccount does not exist: {subAccountId}.\n\n" : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/plans/base" : {
      "put" : {
        "tags" : [ "accounts", "{account Id}", "plans", "base" ],
        "summary" : "Update a base plan",
        "description" : "Update a base plan of a sub account. \n\nThis API can only be used by master accounts that pay all billiing charges of their associated Pro or higher sub accounts. Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts' subscriptions. Email the partner programs team at **partner-success@zoom.us** for more details.<br><br>\n**Scopes:** `billing:master`<br><br>\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`<br>\n**Prerequisites:**<br>\n* The sub account must have a Pro or a higher plan.\n ",
        "operationId" : "updateABasePlan",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) The account ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "200" : {
            "description" : "**Error Code:** `200`\nFree trial and VIP account can't update sub plan.<br>\nYou do not have a subscription yet.<br>\n\n",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**Error Code:** `200`\nFree trial and VIP account can't update sub plan.<br>\nYou do not have a subscription yet.<br>\n\n" : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "**HTTPS Status Code:** `204`<br>\nBase plan updated.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTPS Status Code:** `204`<br>\nBase plan updated." : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "300" : {
            "description" : "**Error Code:** `300`<br>\nInsufficient number of hosts for business plan type.<br>\nInsufficient number of hosts for education plan type.<br>\nPlan types do not match, oldPlanType: {oldPlanType} newPlanType: {newPlanType}.<br>\n",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**Error Code:** `300`<br>\nInsufficient number of hosts for business plan type.<br>\nInsufficient number of hosts for education plan type.<br>\nPlan types do not match, oldPlanType: {oldPlanType} newPlanType: {newPlanType}.<br>\n" : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br> \nThis sub account is on self pay mode.<br>\nCannot makes updates when account is subscribed to a bundle plan.<br>\nThis account is not under a free trial plan.<br>\nThe account currently has {0} paid",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br> \nThis sub account is on self pay mode.<br>\nCannot makes updates when account is subscribed to a bundle plan.<br>\nThis account is not under a free trial plan.<br>\nThe account currently has {0} paid" : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404`<br>\n**Error Code:** `1001`<br>\nUser does not exist.\n**Error Code:** `2001`<br>\nAccount does not exist: {subAccountId}.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404`<br>\n**Error Code:** `1001`<br>\nUser does not exist.\n**Error Code:** `2001`<br>\nAccount does not exist: {subAccountId}." : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/plans/base/status" : {
      "patch" : {
        "tags" : [ "accounts", "{account Id}", "plans", "base" ],
        "summary" : "Cancel a base plan",
        "description" : "[Cancel a base plan](https://support.zoom.us/hc/en-us/articles/203634215-How-Do-I-Cancel-My-Subscription-) for a sub account.\n\nThis API can only be used by master accounts that pay all billiing charges of their associated Pro or higher sub accounts. Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts' subscriptions. Email the partner programs team at **partner-success@zoom.us** for more details.<br><br>\n\n**Scopes**: `billing:master`<br> \n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`<br>\n**Prerequisites:**<br>\n* The sub account must have a Pro or a higher plan.\n ",
        "operationId" : "cancelABasePlan",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : { }
          }
        },
        "responses" : {
          "200" : {
            "description" : "**Error Code:** `200`<br>\nCannot cancel plan for a sub account which is under free plan.<br>\nYou don’t have a major subscription yet.<br>\nYou should first cancel all additional subscriptions.<br>\nFree trial and VIP accounts can not cancel plans of a sub a",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**Error Code:** `200`<br>\nCannot cancel plan for a sub account which is under free plan.<br>\nYou don’t have a major subscription yet.<br>\nYou should first cancel all additional subscriptions.<br>\nFree trial and VIP accounts can not cancel plans of a sub a" : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "**HTTP Status Code:** `204`<br>\nPlan cancelled successfully. ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : { }
                },
                "examples" : {
                  "**HTTP Status Code:** `204`<br>\nPlan cancelled successfully. " : {
                    "value" : { }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br>\nThis sub account is paid by self.<br>\nYou cannot make cancellation requests for a bundle plan. Contact the Zoom Support team for details.<br>\nMaster accounts with bulk licenses cannot provision, u",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400`<br>\n**Error Code:** `2100`<br>\nThis sub account is paid by self.<br>\nYou cannot make cancellation requests for a bundle plan. Contact the Zoom Support team for details.<br>\nMaster accounts with bulk licenses cannot provision, u" : {
                    "value" : ""
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "**HTTP Status Code:** `404`<br>\n**Error Code:** `1001`<br>User does not exist. <br>\n**Error Code:** `2001`<br>This account does not exist or does not belong to this master account.\n\n\n",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `404`<br>\n**Error Code:** `1001`<br>User does not exist. <br>\n**Error Code:** `2001`<br>This account does not exist or does not belong to this master account.\n\n\n" : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/plans/usage" : {
      "get" : {
        "tags" : [ "accounts", "{account Id}", "plans" ],
        "summary" : "Get plan usage",
        "description" : "Get information on usage of [plans](https://marketplace.zoom.us/docs/api-reference/other-references/plans) of an account. This API supports regular accounts as well as master and sub accounts. To get plan usage of a regular account, use the `account:read:admin` scope and provide “me” as the value of the  `accountId` path parameter.To get plan usage of a master account, provide the keyword \"me\" as the value of the `accountId` path parameter and use the `billing:master` scope. To get plan usage of a sub account, provide the actual account Id of the sub account as the value of the `accountId` path parameter and use the `billing:master` scope. \n\n**Prerequisite**:<br>\nAccount type: master account on a paid Pro, Business or Enterprise plan.<br>\n**Scope:** `billing:master` for master and sub accounts. `account:read:admin` for regular Zoom accounts.<br>\n **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`",
        "operationId" : "getPlanUsage",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) ",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "**HTTP Status Code:** `200` <br>\nPlan Usage returned.<br>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_8"
                },
                "examples" : {
                  "**HTTP Status Code:** `200` <br>\nPlan Usage returned.<br>" : {
                    "value" : {
                      "plan_base" : {
                        "hosts" : 2,
                        "type" : "monthly",
                        "usage" : 1
                      },
                      "plan_large_meeting" : [ {
                        "hosts" : 1,
                        "type" : "large500_monthly",
                        "usage" : 1
                      } ],
                      "plan_recording" : {
                        "free_storage" : "3 GB",
                        "free_storage_usage" : "0",
                        "plan_storage" : "0",
                        "plan_storage_exceed" : "0",
                        "plan_storage_usage" : "0"
                      },
                      "plan_webinar" : [ {
                        "hosts" : 1,
                        "type" : "webinar100_monthly",
                        "usage" : 1
                      } ],
                      "plan_zoom_rooms" : {
                        "hosts" : 1,
                        "type" : "zroom_monthly",
                        "usage" : 0
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "**HTTP Status Code:** `400` <br>\n**Error Code:** `200` <br>\nOnly available for paid account.",
            "content" : {
              "text/plain" : {
                "examples" : {
                  "**HTTP Status Code:** `400` <br>\n**Error Code:** `200` <br>\nOnly available for paid account." : {
                    "value" : ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/recordings" : {
      "get" : {
        "tags" : [ "accounts", "{account Id}" ],
        "summary" : "List recordings of an account",
        "description" : "List [Cloud Recordings](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording) available on an Account.\n\n> To access a password protected cloud recording, add an \"access_token\" parameter to the download URL and provide [JWT](https://marketplace.zoom.us/docs/guides/getting-started/app-types/create-jwt-app) as the value of the \"access_token\".\n<br>\n**Prerequisites**:<br>\n* A Pro or a higher paid plan with Cloud Recording option enabled.<br>\n**Scopes**: `recording:read:admin` or `account:read:admin`\n\nIf the scope `recording:read:admin` is used, the Account ID of the Account must be provided in the `accountId` path parameter to list recordings that belong to the Account. This scope only works for sub accounts. \n\nTo list recordings of a master account, the scope must be `account:read:admin` and the value of `accountId` should be `me`.<br>  **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`<br>\n",
        "operationId" : "listRecordingsOfAnAccount",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "(Required) Unique identifier of the account.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The number of records returned within a single API call.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "30"
          }
        }, {
          "name" : "next_page_token",
          "in" : "query",
          "description" : "The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "ipsum officia"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The start date in UTC for the monthly range for which you would like to retrieve recordings. The maximum range can be a month. If no value is provided for this field, the default will be current date. For example, if you make the API request on June 30, 2020, without providing the “from” and “to” parameters, by default the value of 'from' field will be “2020-06-30” and the value of the 'to' field will be “2020-07-01”.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "1998-02-10T02:54:42.448Z"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "The end date for the monthly range for which you would like to retrieve recordings. The maximum range can be a month.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "1998-02-10T02:54:42.448Z"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "**Response Error Code:** `200` <br>\nOnly available for Paid account.\n\n**HTTP Status Code:** `200` <br>\nRecording(s) listed successfully.\n\n",
            "content" : {
              "application/json" : {
[...]
